@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Fjalla+One&family=Work+Sans&display=swap');

/* 

Fonts:

font-family: 'Didact Gothic', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Work Sans', sans-serif;

Farben:

#9e9e9e
#fff
#000
#333
#666

*/

/*** default ***/

body {
    margin: auto;
}

/*** schriften ***/

h1,
h2,
h3,
section:nth-of-type(2) a {
    text-transform: uppercase;
}

h4::before {
    content: " – ";
}

h1,
h2,
h3,
p {
    font-family: 'Didact Gothic', sans-serif;
}

h4,
main article:last-child p,
main article:last-child a {
    font-family: 'Work Sans', sans-serif;
}

article p:nth-of-type(2),
a
 {
    font-family: 'Fjalla One', sans-serif;
}

/*** header ***/

header {
    text-align: center;
}

header p {
    font-size: 1.2em;
}

header section:nth-of-type(1) {
    padding: 0 33vw;   
}

h2 {
    font-size: 6em;
}

header section:nth-of-type(2) {
    background: url(../img/portfolio1.jpeg) center / cover no-repeat;
    height: 60vw;
    margin: 0 30vw;
}

h1 {
    font-size: 10em;
}

/*** main ***/

main article:nth-of-type(1) {
    background: url(../img/portfolio2.jpg) center / cover no-repeat;
}

main article:nth-of-type(2) {
    background: url(../img/portfolio3.png) center / cover no-repeat;
}

main article:nth-of-type(3) {
    background: url(../img/portfolio4.jpg) center / cover no-repeat;
}

main article:nth-of-type(4) {
    background: url(../img/portfolio5.png) center / cover no-repeat;
}

main article {
    height: 110vh;
}

main article:nth-of-type(odd),
a  {
    color: #fff;
}

main article:nth-of-type(even) section a {
    color: #000;
}

main article h4, main p:first-of-type {
    font-size: 1.5em;
    color: #999;
}

h3 {
    font-size: 9em;
    margin: 0.5vh auto 5vh;
}

main section {
    padding: 15vh 15vw;
}

main a {
    margin: 5vh auto;
    text-decoration: none;
    border: 2px solid;
    padding: 1.5vh 1.5vw;
    text-transform: uppercase;
}

main p:nth-of-type(1) {
    margin: 0 0 15vh ;
}

main article:nth-of-type(1) a + ::after {
    content: "01";
}

main article:nth-of-type(2) a + ::after {
    content: "02";
}

main article:nth-of-type(3) a + ::after {
    content: "03";
}

main article:nth-of-type(4) a + ::after {
    content: "04";
}

main a + ::after {
    opacity: .5;
}

main article section p:last-child {
    text-align: right;
    font-size: 10em;
    margin: 1vh -6vw ;
}

main article:nth-of-type(odd) a:hover {
    background: #fff;
    border: 2px #fff solid;
    color: #000;
}

main article:nth-of-type(even) a:hover {
    background: #000;
    border: 2px #000 solid;
    color: #fff;
}

main a:hover + ::after {
    opacity: 1;
}

/*** What mone? ***/

main article:last-of-type {
    background: #000;
}

main article:last-of-type h3 {
    text-align: center;
    text-transform: none;
    font-size: 12em;
}

main article:last-child p,
main article:last-child a {
    margin: 10vh 0vw 10vh 30vw ;
}

main article:last-child p {
    font-size: 1.5em;
    line-height: 2em;
}

main article:last-child a {
    text-transform: none;
    border: none;
    font-size: 4em;
    padding: 0;
}

main article:last-child a:hover {
    background: transparent;
    text-decoration: underline;
    color: #fff;
    border: none;
}

/*** footer ***/

footer {
    text-align: center;
    color: #000;
    background: transparent;
    border: none;
}